a {
  display: flex;
  align-items: center;
}
a:visited {
  color: white;
}
.footer {
  font-weight: 700;
  background-color: rgb(61, 61, 61);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 2px;
  padding: 10px;
  /* bottom: 0;   */
}